:root {
	--transparent-grey: rgba(0,0,0,0.5); 
}

body { 
	font-family: "Helvetic Neue", Sans-serif; 
}


#window, #slide-container {
 	width: 400px;
    
}


#slide-container {
	height: 200px;
	overflow: hidden; 
	position: relative; 
}

.slide {
	width: 100%; 
	min-height: 200px; 
}

.slides {
	display: block; 
}
 
.arrow {
	color: white; 
	font-size: 26px; 
	position: absolute; 
	top: 50%; 
	transform: translate(0%, -50%); 
	padding: 16px; 
	background-color: rgba(0,0,0,0); 
	transition: background-color 0.3s ease; 
}

.arrow:hover {
	cursor: pointer;
	background-color: var(--transparent-grey); 
}
.slide{
    width: 100%; height: 45px; align:”middle”;
}
#next {
	left: 100%; 
	transform: translate(-100%, -50%); 
	border-radius: 4px 0px 0px 4px; 
}

#previous {
	border-radius: 0px 4px 4px 0px; 
}

#text-bar {
	background-color: var(--transparent-grey);
	width: 100%;
	height: 36px; 
	position: absolute; 
	top: 100%;
	transform: translate(0%, -100%);  
	text-align: center; 
	height: 36px;
  line-height: 36px;
}

#place {
	padding: 0px;
	margin: 0px; 
	color: white;
	position: relative;
	display: inline-block;
}

#dotsContainer {
	width: 100%;
	height: 20px; 
	text-align: center; 
}

.dots {
	width: 8px;
	height: 8px;
	background-color: rgba(0,0,0,0.2); 
	border-radius: 100%; 
	display: inline-block; 
	margin: 8px 2px; 
}

.dots:hover {
	cursor: pointer; 
	background-color: rgba(0,0,0,0.4);
}

.activeDot {
	background-color: rgba(0,0,0,0.6); 
}

h6 {
 font-family: Georgia, 'Times New Roman', Times, serif;
 background-color: #333;
text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}